TABLE_NAME = <source_table>
BACKWASH_TABLE = <destination_table>
BATCH_SIZE = 100000
MAX_OFFSET = 4000000
SOURCE_DB_IP=
SOURCE_DB_PORT=
SOURCE_DB_USER=
SOURCE_DB_PASS=
SOURCE_DBNAME=
TARGET_DB_IP=
TARGET_DB_PORT=
TARGET_DB_USER=
TARGET_DB_PASS=
TARGET_DB_DBNAME=
